body,html{
  background-image:"./community.png" 
}
#showWrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 50%;

  }
  
  img {
    max-width: 100%;
  }
  #message-form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 40%;
    ;
  }
  